<!DOCTYPE html>
<html ng-app="FruitAndVeggie" ng-controller="Main">

<head>
    <title>Fruit and Veggies</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="js/fruits_and_veggies_test.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div class="container">
        <h1>Fruit and Veggies</h1>
        <h2 ng-model="message">{{message}}</h2>
        <div class="row">
            <div class="col-sm-4">
                Fruit
                <div ng-repeat="fruit in userFruits track by $index" ng-class="{'wrong':!checkIfInArray(fruit, fruits)}" class="well">
                    {{fruit}}
                    <button ng-click="toRight($index)" type="button" class="btn btn-primary">-></button>
                </div>
            </div>
            <div class="col-sm-4">
                Everything
                <div ng-repeat="produce in allProduce track by $index" class="well">
                    <button ng-click="toFruits($index)" type="button" class="btn btn-primary">
                        <-</button>
                            {{produce}}
                            <button ng-click="toVeggies($index)" type="button" class="btn btn-primary">-></button>
                </div>
            </div>
            <div class="col-sm-4">
                Veggie
                <div ng-repeat='veggie in userVeggies track by $index' ng-class="{'wrong':!checkIfInArray(veggie, veggies)}" class="well">
                    <button ng-click="toLeft($index)" type="button" class="btn btn-primary">
                        <-</button>
                            {{veggie}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
